h1,
h4 {
  color: white;
  text-shadow: 3px 3px 1px black;
}

h1 {
  margin-top: 3rem !important;
}

body {
  background: #716c6c !important;
  position: relative;
}

/* Content */
.content {
  left: 255px;
}

.pv {
  width: 230px !important;
  height: 230px;
  border-radius: 5%;
  box-shadow: 0px 0px 5px black;
  background-color: black;
  border: 5px solid #c8c8c8;
}

.preview {
  width: 65px !important;
  height: 65px !important;
  position: relative;
  border-radius: 5%;
  background: black;
}

.preview:hover {
  cursor: not-allowed;
}

.action {
  margin: 7px 7px !important;
  width: 55px !important;
  height: 55px !important;
  position: relative;
  box-shadow: 0px 0px 6px 1px black;
  border-radius: 5%;
  background: url(img/button_Start_Reactor_sharpen.png);
  background-size: 3.6rem;
  background-position: center;
}

.act {
  margin-top: 3rem !important;
  border-radius: 10px;
  padding: 10px 10px;
  width: 240px !important;
  background-color: #c8c8c8;
  border: 3px solid black;
  margin-bottom: 2rem;
}

.action:hover {
  cursor: pointer;
}

/* Alert Custom */
.alert {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: -10px;
  height: 110vh;
  z-index: 98;
}

.alert-custom {
  position: absolute;
  width: 700px !important;
  height: 350px !important;
  border: 3px solid black;
  border-radius: 10px;
  top: 200px;
  left: 320px;
  background-color: gray;
  z-index: 99;
}

h2 {
  color: yellow;
  text-shadow: 3px 3px 1px black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #c8c8c8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 3px solid black;
}

h3 {
  padding-top: 4rem;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.hide {
  display: none !important;
}

@media (min-width: 992px) {
  body {
    background: #716c6c !important;
  }

  h1 {
    margin-top: 4rem !important;
  }

  .pv {
    width: 390px !important;
    height: 390px;
    border-radius: 5%;
    box-shadow: 0px 0px 5px black;
    margin-left: 0px;
  }

  .act {
    border: 5px solid rgb(0, 0, 0);
    width: 390px !important;
    padding: 20px 20px;
    margin-left: 50px;
    background-color: #c8c8c8;
    margin-top: 0rem !important;
  }

  .preview {
    width: 120px !important;
    height: 120px !important;
    position: relative;
  }

  .action {
    width: 100px !important;
    height: 100px !important;
    position: relative;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 5%;
    background: url(img/button_Start_Reactor_sharpen.png);
    background-size: 6.7rem;
    background-position: center;
  }
}
